<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    
    <div class="container">

      <div class="starter-template">
        <h1>Conjunto de Testes da Qualidade de Experiência do Usuário</h1>
        <p class="lead">Escolha 3 vídeos de um conjunto de 5 vídeos para avaliar a sua experiência de usuário</p>
        <p class="lead">Em caso de dúvida clique aqui para assistir um tutorial do teste</p>
      </div>


    <div class="row">
        <div class="col-md-8">
            <button type="button" class="btn btn-link">Vídeo de Ação</button>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label>
                  <input type="checkbox"> Assistido
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <button type="button" class="btn btn-link">Vídeo de Aventura</button>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label>
                  <input type="checkbox"> Assistido
                </label>
            </div>
        </div>
    </div>
 
     <div class="row">
        <div class="col-md-8">
            <button type="button" class="btn btn-link">Trailer de um filme</button>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label>
                  <input type="checkbox"> Assistido
                </label>
            </div>
        </div>
    </div>

    <div class="row bg-success">
        <div class="col-md-8">
            <button type="button" class="btn btn-link">Animação</button>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label>
                  <input type="checkbox"> Assistido
                </label>
            </div>
        </div>
    </div>
 
 
     <div class="row">
        <div class="col-md-8">
            <button type="button" class="btn btn-link">Clipe de uma música</button>
        </div>
        <div class="col-md-4">
            <div class="checkbox">
                <label>
                  <input type="checkbox"> Assistido
                </label>
            </div>
        </div>
    </div>
 


    </div><!-- /.container -->




    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>